<section class="normal-form">
  <div class="container">
    <div class="normal-form__wrapper">
      <h3>
        <span class="glyphicon glyphicon-calendar"></span>
        New Timeline
      </h3>
      <%= render 'form' %>

      <%= link_to timelines_path do %>
        <span class="glyphicon glyphicon-menu-left"></span>&nbsp;Back
      <% end %>
    </div>
  </div>
</section>
