<section class="normal-form">
  <div class="container">
    <div class="normal-form__wrapper">
      <h3>
        <span class="glyphicon glyphicon-calendar"></span>
        New Timeline
      </h3>
      <%= render 'form' %>
    </div>
  </div>
</section>

<%= link_to 'Back', timelines_path %>
