<h3 class="timeline-title">
  <span class="glyphicon glyphicon-time"></span>
  <span>TIMELINE: <%= @timeline.name %></span>
</h3>

<section id="cd-timeline" class="cd-container">
  <%= render @events %>
</section>

<% if is_owner?(current_user, @timeline) %>

  <section class="normal-form">
    <div class="container">
      <div class="normal-form__wrapper text-center">
        <button type="button" class="btn btn-success btn-event" data-toggle="modal" data-target="#eventModal">ADD EVENT</button>
      </div>
    </div>
  </section>

  <%= render 'events/new_modal' %>

<% end %>

<script type="text/javascript">
  $(function() {
    $('.cd-read-more').click(function() {
      var wrapper = $(this).parents()[0];
      $(wrapper).find('.event-desc').show();
      $(wrapper).find('.event-desc-short').hide();
      $(wrapper).find('.cd-read-less').show();
      $(this).hide();
    });
    $('.cd-read-less').click(function() {
      var wrapper = $(this).parents()[0];
      $(wrapper).find('.event-desc').hide();
      $(wrapper).find('.event-desc-short').show();
      $(wrapper).find('.cd-read-more').show();
      $(this).hide();
    });
  });
</script>
