<p id="notice"><%= notice %></p>

<h2 class="timeline-title">TIMELINE: <%= @timeline.name %></h2>

<section id="cd-timeline" class="cd-container">
  <%= render @events %>
</section>

<section class="normal-form">
  <div class="container">
    <div class="normal-form__wrapper text-center">
      <button type="button" class="btn btn-success btn-event" data-toggle="modal" data-target="#eventModal">ADD EVENT</button>
    </div>
  </div>
</section>

<%= render 'events/new_modal' %>
